.background{
	background-color: skyblue;
}
.apptitle{
	background-color: white;
	opacity: 0.75;
	justify-content: center;
	text-align: center;
	border-style: solid;
	font-size: 40px;
	font-family: serif;
	margin: 25px;
	margin-bottom: 20px;
	padding: 20px;
}

.navigation-bar{
	background-color: black;
	opacity: 0.75;
	justify-content: center;
	border-style: solid;
	font-family: serif;
}
.btn-obj1{
	background-color: white;
	opacity: 0.75;
	justify-content: center;
	margin-bottom: auto;
	border-style: solid;
	font-size: 40px;
	font-family: serif;
	margin: 20px;
	padding: 20px;
}
.btn-obj1:hover{
	background-color: white;
	opacity: 1;
}
.btn-obj2{
	background-color: white;
	opacity: 0.75;
	justify-content: center;
	margin-bottom: auto;
	border-style: solid;
	font-size: 40px;
	font-family: serif;
	margin: 20px ;
	padding: 20px;
}
.btn-obj2:hover{
	background-color: white;
	opacity: 1;
}
.btn-obj3{
	background-color: white;
	opacity: 0.75;
	justify-content: center;
	margin-bottom: auto;
	border-style: solid;
	font-size: 40px;
	font-family: serif;
	margin: 20px ;
	padding: 20px;
}
.btn-obj3:hover{
	background-color: white;
	opacity: 1;
}